screenshare.start({
  width: <number>,
  height: <number>,
  frameRate: <number>,
  mediaSource: <window>, // Firefox only
})
  .then(function(stream) {
     // success callback
     // 成功するとstreamオブジェクトを取得できます
  })
  .catch(function(error) {
     // error callback
  });

screenshare.stop();
